<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Шапка сайта</title>
  <link rel="stylesheet" href="/catalog/view/theme/mz_poco/stylesheet/css/customHeader.css">
</head>
<body>
  <header class="customHeader">
    <div class="customHeader__menu customHeader__menu_1">
      <div class="customHeader__logo">
        <a href="#"><img src="/catalog/view/theme/mz_poco/image/logo.png" alt="Купить мебель в Краснодаре"></a>
      </div>
      <nav class="menu__links">
        <a href="" class="links__link menu1__link menu1__link_active">Товары</a>
        <a href="" class="links__link menu1__link">Комнаты</a>
        <a href="" class="links__link menu1__link">Магазины</a>
        <a href="" class="links__link menu1__link">Идеи и тренды</a>
        <a href="" class="links__link menu1__link">О компании</a>
      </nav>
      <form action="#" method="GET" class="customHeader__search">
        <input type="text" name="search" class="search__input" placeholder="Поиск по сайту">
        <button class="search__button" type="submit" aria-label="Искать">
          <svg class="Cqrx4" width="21" height="21" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
            <line x1="18.6963" y1="17.9697" x2="25.6963" y2="24.9697" stroke-width="2" stroke="currentColor"></line>
            <circle cx="12.834" cy="12.5" r="8" stroke-width="2" stroke="currentColor" fill="transparent"></circle>
          </svg>
        </button>
      </form>
      <div class="customHeader__phone">
        <a href="tel:+79182129001" class="phone__link">+7 (918) 212-9001</a>
      </div>
    </div>
    <div class="customHeader__menu customHeader__menu_2">
      <nav class="menu__links">
        <a href="#" class="links__link menu2__link">Ссылка 1</a>
        <a href="#" class="links__link menu2__link">Ссылка 2</a>
        <a href="#" class="links__link menu2__link">Ссылка 3</a>
        <a href="#" class="links__link menu2__link">Ссылка 4 </a>
        <a href="#" class="links__link menu2__link">Ссылка 5</a>
      </nav>
      <nav class="menu__buttons">
        <a href="#" class="buttons__button" title="Личный кабинет">
          <svg class="icon" width="30" height="31" viewBox="0 0 30 31" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.0004 15.7811C17.9216 15.7811 20.2898 13.3677 20.2898 10.3906C20.2898 7.41344 17.9216 5 15.0004 5C12.0791 5 9.71094 7.41344 9.71094 10.3906C9.71094 13.3677 12.0791 15.7811 15.0004 15.7811Z" stroke-width="1.5" stroke-miterlimit="10" class="icon__part"></path>
            <path d="M25.0007 25.6584C23.6783 21.3628 19.6286 18.1621 15.0003 18.1621C10.2894 18.1621 6.32236 21.2785 5 25.6584" stroke-width="1.5" stroke-miterlimit="10" class="icon__part"></path>
          </svg>
        </a>
        <a href="#" class="buttons__button" title="Избранное">
          <svg class="icon_active" width="30" height="30" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.1462 7C6.67925 7 4.5 10.1959 4.5 12.7732C4.5 18.4433 10.6415 23.201 15 26.5C19.3585 23.201 25.5 18.4433 25.5 12.7732C25.5 10.1959 23.3208 7 19.8538 7C17.8726 7 16.1887 8.64952 15 10.1959C13.7123 8.64952 12.1274 7 10.1462 7Z" stroke-width="1.5" stroke-miterlimit="10" class="icon__part icon__part_active"></path>
          </svg>
          <span class="button__total">2</span>
        </a>
        <a href="#" class="buttons__button" title="Корзина">
          <svg class="icon icon_active" width="30" height="30" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
            <path d="M10 11.5L10 7.94748C10 5.79364 11.6 4.5 13.5 4.5H16.5C18.5 4.5 20 5.79364 20 7.94748V11.5" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" class="icon__part"></path>
            <path d="M25.0002 9.5H5V22.2001C5 24.2271 6.31314 25.9501 8.03033 25.9501H21.9699C23.6871 25.9501 25.0002 24.3285 25.0002 22.2001V9.5Z" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" class="icon__part icon__part_active"></path>
          </svg>
          <span class="button__total">5</span>
        </a>
      </nav>
    </div>
    <div class="customHeader__menu customHeader__menu_3"></div>
  </header>
</body>
</html>
