<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Шапка сайта</title>
  <link rel="stylesheet" href="/catalog/view/theme/mz_poco/stylesheet/css/customHeader.css">
</head>
<body>
  <header class="customHeader">
    <div class="customHeader__menu customHeader__menu_1">
      <div class="customHeader__logo">
        <a href="#"><img src="/catalog/view/theme/mz_poco/image/logo.png" alt="Купить мебель в Краснодаре"></a>
      </div>
      <nav class="customHeader__links">
        <a href="" class="links__link menu1__link menu1__link_active">Товары</a>
        <a href="" class="links__link menu1__link">Комнаты</a>
        <a href="" class="links__link menu1__link">Магазины</a>
        <a href="" class="links__link menu1__link">Идеи и тренды</a>
        <a href="" class="links__link menu1__link">О компании</a>
      </nav>
      <form action="#" method="GET" class="customHeader__search">
        <input type="text" name="search" class="search__input" placeholder="Поиск по сайту">
        <button class="search__button" type="submit" aria-label="Искать">
          <svg class="Cqrx4" width="21" height="21" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
            <line x1="18.6963" y1="17.9697" x2="25.6963" y2="24.9697" stroke-width="2" stroke="currentColor"></line>
            <circle cx="12.834" cy="12.5" r="8" stroke-width="2" stroke="currentColor" fill="transparent"></circle>
          </svg>
        </button>
      </form>
      <div class="customHeader__phone">
        <a href="tel:+79182129001" class="phone__link">+7 (918) 212-9001</a>
      </div>
    </div>
    <div class="customHeader__menu customHeader__menu_2"></div>
    <div class="customHeader__menu customHeader__menu_3"></div>
  </header>
</body>
</html>
