body
  padding: 0
  margin: 0

.customHeader
  display: flex
  font-size: 14px
  font-family: "Nunito Sans", Sans-Serif

  &__menu
    display: flex
    flex-direction: row

    &_1
      gap: 40px
      padding: 30px 40px 10px

  &__logo
    img
      height: 36px

  &__links
    display: flex
    flex-direction: row
    gap: 20px
    justify-content: space-between
    list-style: none
    margin: 0
    padding: 0

  .links__link
    display: block
    font-size: 16px
    line-height: 34px
    margin: 0
    position: relative
    text-decoration: none
    transition: all .15s ease-in
    white-space: nowrap

  .menu1__link
    color: #989898
    border-bottom: 1px solid transparent

    &:hover, &:active, &_active
      color: #000
      border-bottom: 1px solid #000
