.customSlider
  background-color: red

#entry_242910 .container
  padding: 0
  width: 100%

@media (min-width: 1360px)
 #entry_242910 .container
   max-width: 100%

@media (min-width: 1024px)
  #entry_242910 .container
    max-width: 100%

@media (min-width: 768px)
  #entry_242910 .container
    max-width: 100%

#entry_242911
  margin-bottom: 0

.overlay-caption
  display: flex
  flex-direction: column
  justify-content: center
  margin-left: 50px

  a:hover
    text-decoration: none

@media screen and (max-width: 1024px)
  .swiper-slide img.slide-image
      height: 100vh
      width: auto !important
      position: relative
      right: 220%

  .overlay-caption
    padding-top: 50px
    justify-content: flex-start
    max-width: 300px
    margin: 0px auto
