body
  padding: 0
  margin: 0

.customHeader
  display: flex
  font-size: 14px
  font-family: "Nunito Sans", Sans-Serif

  &__menu
    display: flex
    flex-direction: row

    &_1
      gap: 40px
      padding: 30px 40px 10px

  &__logo
    img
      height: 36px
