<link rel="stylesheet" href="./style/index.css">

<section class="main">
    <div class="container">
        <div class="blocks__wrapper">
            <div class="block">
                <div class="block__image" id="first_block">
                    <img src="./images/block1.jpg" alt="block1" class="block_img">
                    <div class="image__button" id="block1_first_btn">
                        <div class="button__wrapper" id="block1_first_open">
                            <svg class="button__svg" id="hover1" width="36" height="36" viewBox="0 0 36 36"
                                fill="none" xmlns="http://www.w3.org/2000/svg" svg-inline="" role="presentation"
                                focusable="false" tabindex="-1" class="pin-icon">
                                <circle opacity=".2" cx="18" cy="18" r="18" fill="#fff"></circle>
                                <circle cx="18" cy="17.999" r="10.8" fill="#fff"></circle>
                                <circle class="block_fill" cx="18" cy="17.999" r="4.8" fill="silver"></circle>
                            </svg>
                            <div class="button__popup" id="block1_first_popup">
                                <div class="popup__wrapper">
                                    <a href="/" class="popup__link">Item name</a>
                                    <div class="popup__bottom">
                                        <div class="popup__price">000$</div>
                                        <a href="/" class="popup__cart">
                                            <img src="./images/cart.png" alt="cart">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="image__button" id="block1_second_btn">
                        <div class="button__wrapper" id="block1_second_open">
                            <svg class="button__svg" width="36" height="36" viewBox="0 0 36 36" fill="none"
                                xmlns="http://www.w3.org/2000/svg" svg-inline="" role="presentation"
                                focusable="false" tabindex="-1" class="pin-icon">
                                <circle opacity=".2" cx="18" cy="18" r="18" fill="#fff"></circle>
                                <circle cx="18" cy="17.999" r="10.8" fill="#fff"></circle>
                                <circle class="block_fill" id="block1_first" cx="18" cy="17.999" r="4.8"
                                    fill="silver"></circle>
                            </svg>
                            <div class="button__popup" id="block1_second_popup">
                                <div class="popup__wrapper">
                                    <a href="/" class="popup__link">Item name</a>
                                    <div class="popup__bottom">
                                        <div class="popup__price">000$</div>
                                        <a href="/" class="popup__cart">
                                            <img src="./images/cart.png" alt="cart">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="image__button" id="block1_third_btn">
                        <div class="button__wrapper" id="block1_third_open">
                            <svg class="button__svg" width="36" height="36" viewBox="0 0 36 36" fill="none"
                                xmlns="http://www.w3.org/2000/svg" svg-inline="" role="presentation"
                                focusable="false" tabindex="-1" class="pin-icon">
                                <circle opacity=".2" cx="18" cy="18" r="18" fill="#fff"></circle>
                                <circle cx="18" cy="17.999" r="10.8" fill="#fff"></circle>
                                <circle id="block1_first" class="block_fill" cx="18" cy="17.999" r="4.8"
                                    fill="silver"></circle>
                            </svg>
                            <div class="button__popup" id="block1_third_popup">
                                <div class="popup__wrapper">
                                    <a href="/" class="popup__link">Item name</a>
                                    <div class="popup__bottom">
                                        <div class="popup__price">000$</div>
                                        <a href="/" class="popup__cart">
                                            <img src="./images/cart.png" alt="cart">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="block">
                <div class="block__image" id="second_block">
                    <img src="./images/block2.jpg" alt="block1" class="block_img">
                    <div class="image__button" id="block2_first_btn">
                        <div class="button__wrapper" id="block2_first_open">
                            <svg class="button__svg" width="36" height="36" viewBox="0 0 36 36" fill="none"
                                xmlns="http://www.w3.org/2000/svg" svg-inline="" role="presentation"
                                focusable="false" tabindex="-1" class="pin-icon">
                                <circle opacity=".2" cx="18" cy="18" r="18" fill="#fff"></circle>
                                <circle cx="18" cy="17.999" r="10.8" fill="#fff"></circle>
                                <circle class="block_fill" id="block1_first" cx="18" cy="17.999" r="4.8"
                                    fill="silver"></circle>
                            </svg>
                            <div class="button__popup" id="block2_first_popup">
                                <div class="popup__wrapper">
                                    <a href="/" class="popup__link">Item name</a>
                                    <div class="popup__bottom">
                                        <div class="popup__price">000$</div>
                                        <a href="/" class="popup__cart">
                                            <img src="./images/cart.png" alt="cart">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="block__image" id="third_block">
                    <img src="./images/block3.jpg" alt="block1" class="block_img">
                    <div class="image__button" id="block3_first_btn">
                        <div class="button__wrapper" id="block3_first_open">
                            <svg class="button__svg" width="36" height="36" viewBox="0 0 36 36" fill="none"
                                xmlns="http://www.w3.org/2000/svg" svg-inline="" role="presentation"
                                focusable="false" tabindex="-1" class="pin-icon">
                                <circle opacity=".2" cx="18" cy="18" r="18" fill="#fff"></circle>
                                <circle cx="18" cy="17.999" r="10.8" fill="#fff"></circle>
                                <circle class="block_fill" id="block1_first" cx="18" cy="17.999" r="4.8"
                                    fill="silver"></circle>
                            </svg>
                            <div class="button__popup" id="block3_first_popup">
                                <div class="popup__wrapper">
                                    <a href="/" class="popup__link">Item name</a>
                                    <div class="popup__bottom">
                                        <div class="popup__price">000$</div>
                                        <a href="/" class="popup__cart">
                                            <img src="./images/cart.png" alt="cart">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="image__button" id="block3_second_btn">
                        <div class="button__wrapper" id="block3_second_open">
                            <svg class="button__svg" width="36" height="36" viewBox="0 0 36 36" fill="none"
                                xmlns="http://www.w3.org/2000/svg" svg-inline="" role="presentation"
                                focusable="false" tabindex="-1" class="pin-icon">
                                <circle opacity=".2" cx="18" cy="18" r="18" fill="#fff"></circle>
                                <circle cx="18" cy="17.999" r="10.8" fill="#fff"></circle>
                                <circle class="block_fill" id="block1_first" cx="18" cy="17.999" r="4.8"
                                    fill="silver"></circle>
                            </svg>
                            <div class="button__popup" id="block3_second_popup">
                                <div class="popup__wrapper">
                                    <a href="/" class="popup__link">Item name</a>
                                    <div class="popup__bottom">
                                        <div class="popup__price">000$</div>
                                        <a href="/" class="popup__cart">
                                            <img src="./images/cart.png" alt="cart">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
